<h3> Liste des opérations </h3>


<ul *ngFor="let operation of operations">

	<li>

		<ul>

			<li> Id opération : {{operation.properties.id_operation}} </li>

			<li *ngIf="operation.properties.id_nomenclature_cmr_action">
				Action : <pnx-cmr-nomenclature-display
				[id_nomenclature]="operation.properties.id_nomenclature_cmr_action" >
			</pnx-cmr-nomenclature-display>
			</li>

			<li *ngIf="operation.properties.id_nomenclature_obs_method">
				Méthode : <pnx-cmr-nomenclature-display
				[id_nomenclature]="operation.properties.id_nomenclature_obs_method" >
			</pnx-cmr-nomenclature-display>
			</li>

			<li *ngIf="operation.properties.id_nomenclature_life_stage">
				Stade de vie : <pnx-cmr-nomenclature-display
				[id_nomenclature]="operation.properties.id_nomenclature_life_stage" >
			</pnx-cmr-nomenclature-display>
			</li>

			<li *ngIf="operation.properties.id_nomenclature_bio_condition">
				Etat biologique : <pnx-cmr-nomenclature-display
				[id_nomenclature]="operation.properties.id_nomenclature_bio_condition" >
			</pnx-cmr-nomenclature-display>
			</li>

			<li *ngIf="operation.properties.id_nomenclature_determination_method">
				Détermination : <pnx-cmr-nomenclature-display
				[id_nomenclature]="operation.properties.id_nomenclature_determination_method" >
			</pnx-cmr-nomenclature-display>
			</li>

		</ul>

	</li>

</ul>

<div>

	<h3>Ajout d'une nouvelle opération</h3>

	<pnx-nomenclature label="Action"
		[parentFormControl]="operationsForm.controls.id_nomenclature_cmr_action"
		codeNomenclatureType="CMR_ACTION"
		>
	</pnx-nomenclature>

	<pnx-nomenclature label="Méthode d'observation"
			[parentFormControl]="operationsForm.controls.id_nomenclature_obs_method"
			codeNomenclatureType="METH_OBS"
			>
	</pnx-nomenclature>

	 <pnx-nomenclature label="Stade de vie"
			[parentFormControl]="operationsForm.controls.id_nomenclature_life_stage"
			codeNomenclatureType="STADE_VIE"
			>
	</pnx-nomenclature>

	<pnx-nomenclature label="État biolgique"
			[parentFormControl]="operationsForm.controls.id_nomenclature_bio_condition"
			codeNomenclatureType="ETA_BIO"
			>
	</pnx-nomenclature>

	<pnx-nomenclature label="Méthode de détermination"
		[parentFormControl]="operationsForm.controls.id_nomenclature_determination_method"
		codeNomenclatureType="METH_DETERMIN"
		>
	</pnx-nomenclature>

	<input 
		type="text" 
		id="id_individual" 
		name="id_individual" 
		[formControl]="operationsForm.controls.id_individual"
		>

	<pnx-date
		[parentFormControl]="operationsForm.controls.date_min"
	></pnx-date>

	<pnx-date
		[parentFormControl]="operationsForm.controls.date_max"
	></pnx-date>

	<input 
		type="text" 
		id="id_site" 
		name="id_site" 
		[formControl]="operationsForm.controls.id_site"
		>

	<pnx-map
		height='90vh'
	>
		<pnx-marker
		(markerChanged)="setGeom($event)">
		</pnx-marker>
	</pnx-map>


	<button
		[disabled]="operationsForm.invalid"
		(click)="postOp()">Envoyer
	</button>

</div>

{{ operationsForm.value | json }}
