<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Code</th><th>Noms vernaculaires</th><th>Nom scientifique</th><th>Placement du marqueur</th><th>Site</th><th>Sexe</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let individual of individuals">
                <td>{{individual.tag_code}}</td>
                <td>{{individual.nom_vern}}</td>
                <td>{{individual.nom_complet}}</td>
                <td>{{individual.location}}</td>
                <td>{{individual.id_site_tag}}</td>
                <td>{{individual.sexe}}</td>
            </tr>
        </tbody>
    </table>
</div>